{% extends 'myAdminPanel/base.html' %}
{% load humanize %}

{% block title %}{% block title-meta %}
جزئیات سبد خرید ''{{order.owner}}''
{% endblock %}{% endblock %}

{% block main %}

<div class="col-md-8">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">جزئیات سبد</h3>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-12">
                {% for detail in order_detail %}
                <div class="order-box">
                  <div class="row order-box__justify">
                    <div class="order-box__name col-md-4">
                      <p>{{detail.product.name_fa}}</p>
                      <p>{{detail.product.name_en}}</p>
                      <a href="{% url 'product:product_detail' detail.product.id detail.product.slug %}">مشاهده محصول</a>
                    </div>
                    <div class="order-box__image col-md-4">
                      <img style="width: 200px; height: 200px;" src="{{detail.product.image.url}}" alt="{{detail.product.image.title}}">
                    </div>
                  </div>
                  <div class="row order-box__price">
                    <p>قیمت : <span>{{detail.product.get_sale|intcomma:False}} تومان</span></p>
                  </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-12 sum-all-order">
              <div class="um-all-order__p">
                <p>جمع کل (تومان): <span>{{total|intcomma:False}}</span></p>
              </div>
                <p>
                    آدرس : {{order.owner.address}}
                </p>
            </div>
            <div class="col-12 back-page">
              <a href="{% url 'account:order'%}" class="btn btn-primary">صفحه قبلی</a>
            </div>
      </div>
    </div>
</div>
{% endblock %}