{% extends 'shared/_MainLayout.html' %}

{% block content %}
    <main>
        <div class="container">
            <section class="brand-container">
                <div class="row">
                    <img src="{{ brand.image.url }}" alt="">
                    <h2>{{ brand.title }}</h2>
                    <p>
                        {{ brand.description }}
                    </p>
                </div>
                <div class="brand-group-main-box">
                    {% for category in brand.categories.all %}
                        <div class="brand-product-divide">
                            <fieldset>
                                <legend><a href="/result/{{ brand.name }}/{{ category.name }}">{{ category.title }}</a>
                                </legend>
                                <div>

                                    <!-- all styles of products in result page will appear here (Random)-->

                                </div>
                            </fieldset>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}