{% extends 'shared/_MainLayout.html' %}
{% load comment_tags %}
{% load static %}
{% load humanize %}

{% block content %}
    <main>
        <div class="container">
            <section class="product">
                <div class="row justify-content-end ml-1 mr-1">
                    <div class="English-name-line"></div>
                    <span class="English-name-text">{{ product.name_en }}</span>
                </div>
                <div class="product-images-part">
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-sm-6 d-flex justify-content-center flex-wrap four-images">
                                <div class="col-sm-6"><img class="img-tags" src="{{ product.image1.url }}" alt="{{ product.image1.title }}"></div>
                                <div class="col-sm-6"><img class="img-tags" src="{{ product.image2.url }}" alt="{{ product.image2.title }}"></div>
                                <div class="col-sm-6"><img class="img-tags" src="{{ product.image3.url }}" alt="{{ product.image3.title }}"></div>
                                <div class="col-sm-6"><img class="img-tags" src="{{ product.image4.url }}" alt="{{ product.image4.title }}"></div>
                        </div>
                        <div class="col-sm-6 d-flex justify-content-center main-image">
                            <img class="img-tags" src="{{ product.image.url }}" alt="{{ product.image.title }}">
                        </div>
                    </div>
                </div>
                <div class="row Description-part">
                    <h1 class="Product-name">{{ product.name_fa }}</h1>
                </div>
                <div class="row Description-butt">
                    <div class="col-sm-8 product-point-box">
                        <span class="product-point">ویژگی 1</span>
                        <span class="product-point">ویژگی 2</span>
                        <span class="product-point">ویژگی 3</span>
                        <span class="product-point">ویژگی 4</span>
                    </div>
                    <div class="col-sm-3 select-buy-box">
                        {% if product.active is True %}
                            {% if product.discount is not 0 %}
                                <div class="result-product-off"><span>{{ product.discount }}%</span>
                                    <del>{{ product.price|intcomma:False }}</del>
                                </div>
                            {% endif %}
                            <div>
                                <div class="price">{{ product.get_sale|intcomma:False }}</div>
                                <span>تومان</span>
                            </div>
                            <form method="post" action="/add-user-order">
                                {% csrf_token %}
                                {{ new_order_form.productId }}
                                <button type="submit" class="send-to-cart">اضافه کردن به سبد خرید</button>
                            </form>
                        {% else %}
                            <div class="result-product-off"><span class="mnb2222">ناموجود</span>
                                <del></del>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- about tabs -->
                <div class="row about-tabs" style="text-align: right;">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs navs-pan" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link nav-link-edi active" data-toggle="tab" href="#about">توضیحات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-edi" data-toggle="tab" href="#Specifications">مشخصات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-edi" data-toggle="tab" href="#Comments">نظرات</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content tab-content-edi" style="display: block;">
                        <div id="about" class="container tab-pane active"><br>
                            <h3>درباره کالا</h3>
                            <p id="about-text" class="about-text">
                                {{ product.description|safe }}
                            </p>
                        </div>
                        <div id="Specifications" class="container tab-pane fade"><br>
                            <h3>مشخصات کالا</h3>
                            <table class="table table-borderless table-edi">
                                <tbody>
                                <tr>
                                   {{ product.attributes|safe }}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="Comments" class="container tab-pane fade w-100"><br>
                            {% render_comments product request %}
                            {% include_bootstrap %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}