* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: GanjNamehSans-Regular;
  margin-bottom: 0%;
}
a:hover {
  text-decoration: none !important;
}
/* Font */
@font-face {
  font-family: GanjNamehSans-Regular;
  src: url(../fonts/GanjNamehSans-Regular.woff);
  /* only this font used */
}
/* Top Nav Bar */

.contain-box {
  border-bottom: 1px solid #ef5d24;
}
.top-bar {
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 1%;
}
.search-bar {
  height: 30px;
  border: 1px solid gray;
  border-radius: 2px;
  margin-left: 1%;
  outline: none;
}
.search-bar:hover {
  border-color: #f17c4e;
}
.search-box {
  align-self: center;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef5d24;
  color: #ef5d24;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 30px;
  width: 30px;
}
.search-btn:active {
  border-color: #ef5d24;
  outline: none !important;
}
.search-btn:hover {
  z-index: 1;
  background-color: #f17c4e;
  box-shadow: 2px 2px 3px #f17c4e62;
}

.search-group {
  display: flex;
  border-color: #ef5e246e;
  margin-left: 3px;
}
.icn {
  color: white;
}
.icn-org {
  color: #3f3f3f;
}
.right-panel-login {
  display: flex;
  width: 150px;
  margin-right: 0.5%;
}
.right-panel-user {
    display: flex;
    width: 150px;
    margin-right: 0.5%;
}
#sign-in-link,
#sign-up-link, 
#user-link {
  text-decoration: none;
}
.signs-link {
  display: flex;
  color: #3f3f3f;
  font-family: GanjNamehSans-Regular;
  justify-content: center;
  align-items: center;
}
.sign-in-link {
  display: flex;
  border-left: 1px solid #3f3f3f;
  padding-left: 5%;
}
.sign-up-link, .user-link {
  padding-right: 5%;
}
.signs-link:hover {
  color: #ef5d24;
}
.signs-link:hover .icn-org {
  color: #ef5d24;
}
/* Top Nav Bar End*/

/* Main nav bar */

.gil-logo {
  width: 5rem;
}
.navbar-brand {
  margin-right: 3%;
}
.main-menu {
  display: flex;
  margin-right: 5.5%;
}
.main-menu-link {
  color: #3f3f3f;
}
.navbar-expand-md {
  border-bottom: 2px solid #ef5d24;
}
.main-menu-text {
  padding-left: 2%;
  width: 100px;
}
.buying-cart-span {
  font-size: 40px !important;
}
.buying-cart-span ~ span {
  position: absolute;
  font-size: 13px;
  background-color: #ef5d24;
  padding: 3px;
  margin: 5px;
  margin-top: 40px;
  margin-left: 30px;
  height: 20px;
  min-width: 20px;
  color: white;
  border-radius: 8px;
  text-align: center;
}
.navbar-nav {
  display: flex;
  width: auto;
}
.nav-cont {
    background-color: #ffffff;
  box-shadow: 1px 1px 2px #d6724b2f;
  transition: all 0.1s;
}
.nav-cont:hover {
  box-shadow: 2px 2px 3px #f17c4e86;
}
.navbar-toggler-icon {
  color: #ffffff;
  background-color: #ef5d24;
}
.main-menu-link:hover {
  color: #ef5d24;
}
.dropdown-item {
  text-align: right;
}
.dropdown-menu {
  right: 0%;
}
.dropdown-toggle::after {
  display: none;
}
.cart-box {
  margin-left: 15%;
}

/* Main Content */

.carousel-set, .Spicial-item {
  width: 100%;
  height: 100%;
}
.marg-box-1 {
  display: block;
}
.carousel-inner,
.Spicial-item {
  border-radius: 15px;
}
.marg-box-1 {
    margin-bottom: 5%;
}

.OFF-part {
    /* background-color: #ef5d24; */
    /* padding: 1.5%; */
    border-top: 10px solid #ef5e24;
    border-bottom: 10px solid #ef5e24;
    margin-bottom: 4%;
}
.best-off-link, .d-link-nav {
    border-radius: 5px;
}
.best-off-link {
  width: fit-content;
  height: fit-content;
}
.best-off-text {
    text-align: center;
    color: #ef5e24;
    font-size: 4.1rem;
}
.off-container{
  display: flex;
  flex-wrap: wrap;
}
.off-link-item {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5%;
    margin-top: 1.5%;
}
.d-link-nav {
    width: 100%;
    box-shadow: 1px 1px 5px #3f3f3f;
    transition: 0.3s;
}
.d-link-nav:hover{
    z-index: 1;
    /* border: 2px solid #ef5d24; */
    box-shadow: 1px 1px 10px #ef5e24;
    transform: scale(1.05);
}
.divi-parts {
    margin-bottom: 2%;
}

/* Footer */

footer {
    background-color: #808080;
    padding-bottom: 1%;
}
.footer-links {
    color: #d6d6d6;
    margin-bottom: 1%;
    display: block;
    text-align: right;
    text-decoration: none;
}
.footer-links:hover {
    color: #ececec;
    text-decoration: none;
}
.hologram-img {
    border-radius: 3px;
    margin-right: 1%;
}
.fab {
    color: #d6d6d6;
    transition: color 0.6s;
}
.fab:hover {
    color: #ececec;
    text-shadow: 1px 1px 10px rgba(236, 236, 236, 0.623);
}
.list-inline {
    margin-bottom: 0%;
}
.list-inline-item {
    margin-right: 0.5%;
    margin-left: 0.5%;
}

/* ---------------------------------------------Products page --------------------------------------------- */

.product {
  margin-top: 5%;
}
.English-name-line {
  height: 10px;
  width: 100%;
  border-bottom: 1px solid #c0c2c5;
}
.English-name-text {
  position: relative;
  padding-right: 1%;
  margin-top: -14px;
  color: #808080;
  background-color: #fff;
  font-size: 12px;
  font-size: 1.1rem;
}

@media only screen and (max-width: 575px) {
  .four-images {
    display: none !important;
  }
}

.img-tags {
  z-index: 0;
  width: 180px;
  padding: 1%;
  border-radius: 10px;
  transition: all 0.75s;
  /* box-shadow: 1px 1px 5px #3f3f3f; */
  /* border: 1px solid gray; */
}

.product-images-part {
  margin-top: 3%;
  padding-bottom: 3%;
  border-bottom: 1px solid #c0c2c5;
}
.four-images {
  width: 100%;
}
.four-images .col-sm-6 {
  width: 100px;
}
.main-image img {
  width: 275px;
  height: 275px;
}
.four-images .img-tags:hover {
  cursor: zoom-in;
  position: relative;
  box-shadow: 1px 1px 5px #808080;
  z-index: 900;
  transform: scale(2.5);
}

/* Description */
.Product-name {
  font-size: 25px;
  color: #3f3f3f;
  margin-right: 3%;
  margin-bottom: 1%;
}
.Description-part {
  margin-top: 3%;
}
.product-point-box {
  margin-right: 3.5%;
}
.product-point {
  margin-bottom: 0.5%;
  display: block;
  text-align: right;
  color: #808080;
}
.select-buy-box {
  text-align: center;
}
.price {
  display: inline;
  font-size: x-large;
  margin-left: 1%;
  font-weight: bold;

}

.send-to-cart {
  padding: 3% 8%;
  background-color: #ef5d24;
  color: #ececec;
  outline: none;
  border-radius: 5px;
  border: none;
  transition: all 0.08s;
}
.send-to-cart:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.02);
  box-shadow: 3px 3px 7px #f17c4e;
}
.Description-butt {
  padding-bottom: 3%;
  border-bottom: 1px solid #c0c2c5;
}

/* about tabs */

.about-tabs {
  text-align: right;
  margin-top: 3%;
}

.tab-content-edi {
  width: 100%;
  text-align: right;
  direction: rtl;
}
.navs-pan {
  display: flex;
  width: 100%;
  height: 100%;
}
.nav-link-edi {
  color: #3f3f3f;
}
.nav-link-edi:hover {
  color: #ef5d24;
}
.nav-link-edi:focus {
  color: #ef5d24;
}
.about-text {
  word-spacing: 2px;
  text-indent: 10px;
  line-height: 34px;
}

/* table */

.table-edi {
  margin-right: 2%;
}
.table-edi tr {
  border-bottom: 0.5px solid #c0c2c52c;
}
.td-p1 {
  width: 33%;
  color: #808080;
  padding-left: 10%;
}
.td-p2 {
  color: #3f3f3f;
}

/* Comments part */

.Comments-part {
  margin-right: 2%;
  /* margin-top: 2%; */
  border-bottom: 1px solid #c0c2c5;
}
.write-your-comment {
  width: 300px;
  margin-bottom: 2%;
}
.modal-close {
  margin-left: 0% !important;
}
/* .modal-title {
  justify-content: center;
} */
.modal-header {
  border-bottom: 0ch;
}
.modal-footer {
  border-top: 0ch;
  justify-content: center;
}
.success-comment-tick {
  margin-bottom: 25px;
  color: #ef5d24;
  font-size: 70px;
}
.modal-text {
  text-align: center;
}
.comment-box {
  width: 100%;
}
.input-border:hover {
  border-color: #f17c4e;
  box-shadow: 0px 0px 10px #f17c4e8e;
}
.input-border:focus {
  border-color: #f17c4e;
  box-shadow: 0px 0px 0.2rem #ef5e2463;
}
.btn-sub {
  background-color: #ef5d24;
  color: #ffffff;
}
.btn-sub:hover {
  color: #ffffff;
  background-color: #f17c4e;
}
.btn-sub:focus {
  box-shadow: 0px 0px 0.2rem #ef5e2463;
}
.old-comments {
  margin-right: 2%;
  margin-top: 2%;
}
.other-user-comments {
  margin-right: 3%;
  margin-top: 2%;
}
.other-user-comment-box {
  padding-right: 2%;
  border-right: 2px solid #ef5d24;
  margin-bottom: 3%;
}
.user-name-comment {
  font-weight: bold;
  margin-bottom: 1%;
}
.user-comment-text {
  text-indent: 10px;
  line-height: 34px;
}


/* ---------------------------------------------Sign-in/up page --------------------------------------------- */

.remember-me-check {
  text-align: right;
}
.jumbotron-sign-up {
  padding-bottom: 1%;
}
.jumbotron-sign-in {
  padding-bottom: 3%;
}
.form-check-input-span {
  padding-right: 20px;
}
.form-check-input {
  filter: invert(40%) hue-rotate(120deg) brightness(1.9);
}
.sign-in-under-box,.sign-up-under-box {
  text-align: center;
}
.sign-in-under-box, div a {
  text-decoration: none;
  color: #3f3f3f;
}
.sign-up-under-box, div a {
  text-decoration: none;
  color: #3f3f3f;
}
.sign-in-under-box div a:hover {
  text-decoration: none;
  color: #ef5d24
}
.sign-up-under-box div a:hover{
  text-decoration: none;
  color: #ef5d24
}
.sign-in-under-box div:first-child {
  margin-top: 3%;
  margin-bottom: 1.5%;
}
.sign-up-under-box div:first-child {
  margin-top: 3%;
  margin-bottom: 3%;
}
.sign-in-main,.sign-up-main div:only-child {
  padding-top: 3%;
  padding-bottom: 3%;
}
.jumbotron-sign-up span:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  font-size: 70px;
  color: #f17c4e;
}
.jumbotron-sign-in span:first-child {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
  font-size: 70px;
  color: #f17c4e;
}

/* ---------------------------------------------Result page --------------------------------------------- */

/* filter box */

.chexbox-span {
  padding-right: 20px;
}
.form-filter {
  border: 1px solid #80808041;
  align-items: center;
  align-self: center;
  border-radius: 5px;
  padding: 0.5%;
}
.form-filter div:first-child {
  text-align: right;
}
.form-filter-icon {
  text-align: center;
  align-items: center;
  align-self: center;
}
/* show result */

.result-page-main-box {
  padding-top: 2%;
  padding-bottom: 2%;
  border-top: 1px solid #80808041;
  border-bottom: 1px solid #80808041;
  min-height: 400px;
}
.result-one-show {
  width: 100%;
  border: 1px solid #80808041;
  border-radius: 3px;
  /* padding: 0.5%; */
  text-align: center;
}
.result-img {
  width: 100%;
  border-radius: 3px;
  box-shadow: 0px 2px 5px #80808041;
}
.result-li {
  list-style-type: none;
  width: 250px;
  display: inline-block;
  margin: 0.1%;
  margin-bottom: 0.5%;
  transition: all 0.2s;
}
.result-li:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.02);
  box-shadow: 2px 2px 10px #80808041;
}
.results-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: right;
  justify-content: center; 
}
.result-product-name {
  padding-left: 25px;
  padding-right: 25px;
  margin: 9px 0%;
  overflow: hidden;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.result-product-off {
  font-family: sans-serif;
  /* margin-bottom: 9px; */
}
.unavailable-product .result-product-off span {
  background-color: #3f3f3f !important;
}
.result-product-off span:first-child {
  background-color: #ef5e24;
  color: white;
  padding: 4px;
  margin-right: 5px;
  border-radius: 8px;
}
.result-product-off del {
  color: #808080;
  font-size: large;
}
.result-product-price {
  font-family: sans-serif;
  margin-bottom: 9px;
}
.result-product-price span:first-child {
  font-weight: bold;
  font-size: x-large;
}
.result-product-price span:nth-child(2) {
  font-family: GanjNamehSans-Regular;
  padding-right: 3px;
}
.result-link {
  text-decoration: none;
}
.result-link:hover {
  color: #3f3f3f;
  text-decoration: none;
}
.free-space-div {
  height: 36px;
  width: 100%;
}
.dispaly-none { /* must add to non-off result */
  display: none; 
}
.padd-butt { /* must add to non-off result */
  padding-bottom: 21px;
  padding-top: 6px; 
}


/* ---------------------------------------------Brand page --------------------------------------------- */


.brand-container {
  margin-top: 3%;
}
.brand-container .row {
  display: flex;
  align-items: center;
  border-top: 1px solid #80808041;
  border-bottom: 1px solid #80808041;
  padding: 10px 20px 10px 20px;
}
.brand-container img {
  border-radius: 5px;
  width: 150px;
}
.brand-group-main-box {
  padding-bottom: 3%;
  border-bottom: 1px solid #80808041;
}
.brand-container h2 {
  height: 100%;
  padding-right: 3%;
  color: #3f3f3f;
  font-weight: bold;
}
.brand-container  p {
  text-align: right;
  margin-top: 2%;
  word-spacing: 2px;
  text-indent: 10px;
  line-height: 34px;
}
.brand-product-divide {
  margin-top: 3%;
}
.brand-product-divide img {
  width: 100%;
}
.brand-product-divide fieldset {
  border-top: 2px solid #ef5d24;
}
.brand-product-divide legend {
  display: flex;
  text-align: right;
  width: fit-content;
  margin-right: 2%;
  padding: 3px;
}
.brand-product-divide div{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.brand-product-divide a {
  transition: all 0.3s;
}
.brand-product-divide a:hover {
  border-radius: 5px;
  /* box-shadow: 1px 1px 10px #ef5e24; */
  color: #ef5d24;
  transform: scale(1.05);
}

/* --------------------------------------------- Master admin --------------------------------------------- */

.slider-control h3 {
  margin-bottom: 2%;
}
.slider-control, .special-brand, .special-off {
  /* padding-bottom: 1%;r */
  border-bottom: 2px solid #3f3f3f;
}
.slider-file, .special-off-file {
  border-bottom: 1px solid #80808041;
  padding-bottom: 2%;
  margin-bottom: 2%;
}
.slider-file input:last-child {
  border-radius: 3px;
  border: 1px solid #808080;
  margin-top: 13px;
  outline: none;
}
.slider-control div:last-child {
  padding-bottom: 0%;
  border-bottom-width: 0in;
}
.special-brand input:last-child {
  border-radius: 3px;
  border: 1px solid #808080;
  margin-top: 13px;
  outline: none;
}
.special-brand {
  margin-top: 2%;
  padding-bottom: 2%;
}
.special-off input:last-child {
  border-radius: 3px;
  border: 1px solid #808080;
  margin-top: 13px;
  outline: none;
}
.special-off div:last-child {
  padding-bottom: 0%;
  border-bottom-width: 0in;
}
.special-off {
  margin-top: 2%;
}
.add-admin {
  display: flex;
  align-self: center;
  align-content: center;
}
.add-admin span {
    color: white;
    margin-left: 3px;
}
.add-admin-input-box {
  display: flex;
  justify-content: center;
}
.add-admin-input-box input {
  width: 100%;
  outline: none;
}
.add-admin-input-box button {
  margin-right: 3px;
}

.add-admin-input-box input:hover {
  border-color: #f17c4e;
  box-shadow: 0px 0px 10px #f17c4e8e;
}
.add-admin-input-box input:focus {
  border-color: #f17c4e;
  box-shadow: 0px 0px 0.2rem #ef5e2463;
}
.admins-manage {
  margin-top: 2%;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #3f3f3f;
}
.admin-card {
  padding: 1%;
  padding-right: 2%;
  margin: 1% 0%;
  margin-bottom: 15px;
  background-color:#ececec;
  border-radius: 5px;
}
.admin-information {
  margin-bottom: 10px;
}
.admin-information div {
  margin-bottom: 2px;
}
.remove-admin-btn button {
  display: flex;
  align-self: center;
  align-content: center;
  margin-top: 1%;
}
.remove-admin-btn span {
  color: white;
  margin-left: 5px;
}

/* --------------------------------------------- admin page --------------------------------------------- */
.a_href_new_post span {
  text-decoration: none;
}
.admin-panel {
  margin-top: 5%;
}
.admin-inf-tab{
  text-align: right;
  display: flex;
  align-items: center;
}
.admin-inf-tab span:first-child {
  font-size: 100px;
  color: #ef5d24;
  margin-left: 10px;
}
.admin-inf-tab span:last-child {
  font-size: 30px;
}
.add-new-post {
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #d6d6d6;
  border: 3px dashed #808080;
  box-shadow: none;
}
.add-new-post:hover {
  border: 3px dashed #fff;
}
.add-new-post span {
  text-decoration: none;
  color: white;
  display: flex;
  align-self: center;
  align-content: center;
  font-size: 50px;
}
.add-new-post-input-box {
  display: block;
}
.add-new-post-input-box input,select {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 2%;
  border-radius: 5px;
}
.add-pics {
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 3%;
  border-top: 2px dashed #808080;
  border-bottom: 2px dashed #808080;
}
.add-pics div {
  border-bottom: 1px solid #d6d6d6;
  margin: 2%;
  height: 86px;
}
.add-pics div:last-child {
  border: none;
}
.add-pics span {
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 20px;
}
.add-product-about {
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom: 2px dashed #808080;
}
.add-product-about span {
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 20px;
}
.add-specifications {
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom: 2px dashed #808080;
}
.add-specifications span {
  font-size: 20px;
  display: block;
  font-weight: bold;
  margin-right: 8px;
  margin-bottom: 20px;
}
.add-new-row button {
  display: flex;
}
.add-new-row span {
  display: flex;
  margin: 0%;
  margin-left: 8px;
  color: white;
}
.specifications-rows  {
  margin-top: 2%;
  margin-bottom: 2%;
}
.specifications-rows div {
  display: flex;
  align-items: center;
}
.specifications-rows input {
  margin-bottom: 0%;
}
.specifications-rows div:last-child button {
  height: 36px;
}
.specifications-rows input {
  display: flex;
}
.specifications-rows button {
  background-color: #ef2b24;
}
.specifications-rows button span {
  margin: 0%;
  color: white;
}
.post-manage {
  margin-top: 2%;
  border-top: 2px solid #3f3f3f;
  border-bottom: 2px solid #3f3f3f;
}
.post-card {
  padding: 1%;
  padding-right: 2%;
  margin: 1% 0%;
  margin-bottom: 15px;
  background-color:#ececec;
  border-radius: 5px;
}
.post-information {
  margin-bottom: 10px;
}
.remove-post-btn {
  display: flex;
}
.remove-post-btn button:first-child {
  margin-left: 5px;
}
.remove-post-btn button {
  display: flex;
  align-self: center;
  align-content: center;
  margin-top: 1%;
}
.remove-post-btn span {
  color: white;
  margin-left: 5px;
}
.post-information {
  display:flex;
}
.post-information img {
  width: 100%;
  height: 100%;
}
.post-detail {
  margin-right: 20px;
  margin-top: 3px;
}
.post-detail div {
  margin-bottom: 10%;
}
.remove-post-btn a {
  display: flex;
  color: white;
  text-decoration: none;
}


/* --------------------------------------------- edit post page --------------------------------------------- */

.edit-post {
  text-align: right;
  margin-top: 3%;
}
.edit-post-icn {
  text-align: center;
  margin-bottom: 3%;
}
.edit-post-icn span {
  padding: 1%;
  font-size: 75px;
  color: white;
  background-color: #ef5d24;
  border-radius: 5px;
}
.unread-comments-titel, .read-comments-titel {
  font-size: larger;
  margin-bottom: 2%;
  margin-top: 2%;
}
.message-box {
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1.5%;
  padding-bottom: 3%;
}
.message-user-name {
  font-weight: bold;
}
.comments-control-btns button:first-child {
  margin-left: 10px;
}
.unread-comments, .read-comments {
  border-bottom: 2px dashed #3f3f3f;
  padding-bottom: 3%;
}
.comments-control-btns {
  display: flex;
}
.comments-control-btns button {
  display: flex;
  width: min-content;
  color: white;
  align-content: center;
  padding-left: 18px;
}
.comments-control-btns span {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
.read-comments {
  background-color: #c0c2c5;
  border-radius: 5px;
  padding: 1%;
  padding-bottom: 2%;
}

/* --------------------------------------------- user page --------------------------------------------- */

.user-inf-tab{
  text-align: right;
  display: flex;
  align-items: center;
}
.user-inf-tab span:first-child {
  font-size: 100px;
  color: #ef5d24;
  margin-left: 10px;
}
.user-inf-tab span:last-child {
  font-size: 30px;
}
.user-information-box {
  padding: 2%;
  background-color: #d6d6d6;
  border-radius: 10px;
  margin-bottom: 3%;
}
.user-information-box div{
  margin: 2%;
  color: white;
  background-color: #808080;
  border-radius: 10px;
  padding: 1%;
}
.edit-user-information {
  background-color: #ef5d24 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.edit-user-information a {
  color: white;
}
.edit-user-information span {
  color: white;
}
.archive-buy-box {
  background-color: whitesmoke;
  padding: 2%;
  margin-bottom: 3%;
  border-radius: 10px;
}
.last-shop {
  margin-bottom: 3%;
  background-color: #808080;
  border-radius: 10px;
}
.shop-items {
  display: flex;
  justify-content: center;
  padding: 1%;
  flex-wrap: wrap;
}
.shop-item-spi {
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 15px whitesmoke;
  margin: 1%;
  border-radius: 5px;
  width: 150px;
}
.shop-item-spi img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}
.shop-item-spi div {
  padding-left: 3%;
  padding-right: 3%;
  background-color: white;
  color: #3f3f3f;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.shop-item-spi-price {
  font-weight: bold;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.shop-info {
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed #3f3f3f;
  padding: 1%;
  display: flex;
}
.shop-info div {
  /* background-color: #3f3f3f; */
  border-radius: 2px;
  color: white;
  display: flex;
}
.all-sum {
  text-align: left;
}
.all-sum div:first-child {
  font-weight: bold;
  margin-left: 5px;
  color: #808080;
}
.all-sum div:last-child {
  font-weight: bold;
  color: #808080;
}
.user-comments-titel {
  font-size: larger;
  margin-bottom: 2%;
  margin-top: 2%;
}
.user-comments {
  border-bottom: 2px dashed #3f3f3f;
  padding-bottom: 3%;
}
.user-message-box {
  margin-bottom: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 1.5%;
}
.message-box-product-name {
  font-style: italic;
  font-weight: bold;
}
.message-box-comment-date {
  margin-right: 5px;
  margin-top: 5px;
}

/* --------------------------------------------- Cart page --------------------------------------------- */

.buy-cart {
  margin-top: 3%;
}
.remove-border {
  border-radius: 0%;
}
.remove-product {
  background-color: #ef2b24;
  padding: 2px;
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.remove-product:hover {
  color: white;
  box-shadow: 0px 0px 4px #ef2b24;
}
.cart-shop {
  margin-bottom: 3%;
  /* background-color: #acacac; */
  border: 2px  solid whitesmoke;
  box-shadow: 3px 3px 15px whitesmoke;
  border-radius: 10px;
}
.remove-product-box {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}