{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load humanize %}

<!-- Main Content -->
{% block content %}
    <main>
        <section class="container">
            <div class="row mt-4">
                <div class="col-sm-8 marg-box-1">
                    <div id="demo" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ul class="carousel-indicators">
                            <li data-target="#demo" data-slide-to="0" class="active"></li>
                            <li data-target="#demo" data-slide-to="1"></li>
                            <li data-target="#demo" data-slide-to="2"></li>
                        </ul>

                        <!-- The slideshow -->
                        <div class="carousel-inner">
                            {% for slider in sliders %}
                                <div class="carousel-item {{ forloop.first|yesno:'active,' }}">
                                    <a href="{{ slider.link }}">
                                        <img class="carousel-set" src="{{ slider.image.url }}" alt="{{ slider.title }}"
                                             style="width: 730px; height: 350px">
                                    </a>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Left and right controls -->
                        <a class="carousel-control-prev" href="#demo" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </a>
                        <a class="carousel-control-next" href="#demo" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 marg-box-1">
                    <a href="{{ advertise.link }}">
                        <img class="Spicial-item" src="{{ advertise.image.url }}" alt="{{ advertise.title }}">
                    </a>
                </div>
            </div>
        </section>
        <section class="OFF-part">
            <div class="container ">
                <div class="row off-container">
                    <div class="col-sm-3 justify-content-center align-self-center "><h2 class="best-off-text">تخفیف های
                        ویژه</h2></div>
                    {% for productoff in discount %}
                        <div class="col-sm-3 off-link-item ">
                            <a
                                    href="{% url 'product:product_detail' productoff.id productoff.slug %}"><img
                                    class="best-off-link"
                                    style="height: 230px; width: 230px"
                                    src="{{ productoff.image.url }}"
                                    alt="{{ productoff.image.title }}">
                                <div class="result-product-off">
                                    <span>{{ productoff.discount }}%</span>
                                    <del>{{ productoff.price|intcomma:False }}</del>
                                </div>
                                <div class="result-product-price">
                                    <span>{{ productoff.get_sale|intcomma:False }}</span><span>تومان</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row mt-3">
                {% for category in categoryList %}
                    <div class="col-sm-4 divi-parts">
                        <a href="{% url 'product:p_category' category.name %}">
                            <img class="d-link-nav"
                                 src="{{ category.image.url }}"
                                 alt="pic">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}
<!-- https://via.placeholder.com/728x90.png -->