<footer>
    <section class="container">
        <div class="row mt-3">
            <div class="col-sm-4 mt-3">
                <a class="footer-links" href="#">ارتباط با ما</a>
                <a class="footer-links" href="#">درباره ی ایران گیل</a>
                <a class="footer-links" href="#">نحوه ی خرید</a>
            </div>
            <div class="col-sm-4 mt-3">
                <a class="footer-links" href="#">حریم خصوصی</a>
                <a class="footer-links" href="#">شیوه های پرداخت</a>
                <a class="footer-links" href="#">پاسخ به پرسش های متداول</a>
            </div>
            <div class="col-sm-4 mt-3">
                <a href="#"><img class="hologram-img" src="https://via.placeholder.com/70x70.png" alt="pic"></a>
                <a href="#"><img class="hologram-img" src="https://via.placeholder.com/70x70.png" alt="pic"></a>
                <a href="#"><img class="hologram-img" src="https://via.placeholder.com/70x70.png" alt="pic"></a>
            </div>
        </div>
        <hr>
        <div class="social-links">
            <ul class="list-inline text-center">
                <li class="list-inline-item" data-toggle="tooltip" title="فیس بوک"><a href="#"><i
                        class="fab fa-facebook-square"></i></a></li>
                <li class="list-inline-item" data-toggle="tooltip" title="توییتر"><a href="#"><i
                        class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item" data-toggle="tooltip" title="یوتیوب"><a href="#"><i
                        class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
</footer>