{% load static %}

<header>
    <!-- top bar -->
    <div class="contain-box">
        <div class="container container-top-bar">
            <div class="row top-bar">
                <!-- Loging panel -->
                {% if not request.user.is_authenticated %}
                    <div id="login-panel" class="right-panel-login" style="display: flex;">
                        <a id="sign-in-link" class="sign-in-link signs-link" href="{% url 'account:login' %}"><span
                                class="material-icons md-18 icn-org">login</span>ورود</a>

                        <a id="sign-up-link" class="sign-up-link signs-link" href="{% url 'account:register' %}"><span
                                class="material-icons md-18 icn-org">create</span>ثبت نام</a>
                    </div>
                {% else %}
                    <!-- User panel   -->
                    <div id="user-panel" class="right-panel-user" style="display: flex;">
                        <a id="sign-in-link" class="sign-in-link signs-link" href="{% url 'account:log-out' %}"><span
                                class="material-icons md-18 icn-org">logout</span>خروج</a>

                        <a id="user-link" class="user-link signs-link" href="{% url 'account:user_panel' %}"><span
                                class="material-icons md-18 icn-org">person_outline</span>{{ firstName }}
                        </a>
                        
                    </div>
                {% endif %}
                <!-- Search box -->
                <div class="search-box">
                    <form action="{% url 'product:search' %}" method="get">
                        <div class="search-group">
                            <input type="search" class=" search-bar" placeholder="جستجو..." value="{{ request.GET.q }}"
                                   name="q">
                            <button type="submit" class="search-btn"><span
                                    class="material-icons md-18 icn">search</span></button>
                        </div>
                    </form>
                </div>
                {% if user.is_superuser or user.is_admin %}
                    <a id="user-link" class="user-link signs-link" href="{% url 'account:home' %}">
                        <span class="material-icons md-18 icn-org">home</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Main nav bar -->
    <nav class="navbar navbar-expand-md nav-cont">
        <a class="navbar-brand" href="/"><img src="{% static 'Images/Logo.png' %}" class="gil-logo"
                                              alt="Gil Market Logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="material-icons md-18 icn-org">menu</span>
        </button>
        <div class="collapse navbar-collapse main-menu justify-content-between" id="collapsibleNavbar">
            <div class="d-flex">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown main-menu-text">
                        <a class="nav-link dropdown-toggle main-menu-link" id="dropdownMenuButton" href="#"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">محصولات</a>
                        <div class="dropdown-menu">
                            {% for category in categoryList %}
                                <a class="dropdown-item" href="{% url 'product:p_category' category.name %}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown main-menu-text">
                        <a class="nav-link dropdown-toggle main-menu-link" id="dropdownMenuButton" href="#"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">برند ها</a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for brands in brand %}
                                <a class="dropdown-item" href="{% url 'brand:p_brand' brands.name %}">{{ brands.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item main-menu-text">
                        <a class="nav-link main-menu-link" href="{% url 'product:discount' %}">تخفیف ها</a>
                    </li>
            </div>
            </li>
            </ul>
            <div class="d-flex cart-box">
                <a class="nav-link main-menu-link signs-link" data-toggle="tooltip" href="/open-order"
                   title="سبد خرید"><span class="material-icons md-48 icn-org buying-cart-span">shopping_cart</span>
                    <span>{{ count }}</span>
                </a>
            </div>
        </div>
    </nav>
</header>