{% extends 'shared/_MainLayout.html' %}
{% load humanize %}

{% block content %}
    <main>
        <div class="container">
            <div class="buy-cart">
                <div class="edit-post-icn"><span class="material-icons md-18 icn-org">local_mall</span></div>
                <form action="">
                    <div class="cart-shop">
                        <div class="shop-items">
                            {% if order != None and details|length > 0 %}
                                {% for detail in details %}
                                    <div class="shop-item-spi">
                                        <a href="{% url 'product:product_detail' detail.product.id detail.product.slug %}"><img
                                                src="{{ detail.product.image.url }}" alt=""></a>
                                        <div>{{ detail.product.name_fa }}</div>
                                        <div class="shop-item-spi-price remove-border">
                                            {{ detail.product.get_sale|intcomma:False }}</div>
                                        <div class="remove-product-box">
                                            <a class="btn remove-product" href="/remove-order-detail/{{ detail.id }}">
                                                حذف کالا
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="alert alert-warning">
                                    <p>هیچ محصولی در سبد خرید شما یافت نشد</p>
                                </div>
                            {% endif %}
                        </div>
                        <div class="shop-info">
                            <div>
                                <a class="btn btn-sub" href="/pay">نهایی کردن پرداخت</a>
                            </div>
                            <div class="all-sum">
                                <div>مجموع کل (تومان) :</div>
                                <div>{{ total|intcomma:False }}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}